[submodule "Split/dependencies/GLFW"]
	path = Split/dependencies/GLFW
	url = https://github.com/glfw/glfw
[submodule "Split/dependencies/SPDLOG"]
	path = Split/dependencies/SPDLOG
	url = https://github.com/gabime/spdlog
[submodule "Split/dependencies/GLM"]
	path = Split/dependencies/GLM
	url = https://github.com/g-truc/glm
[submodule "Split/dependencies/STB"]
	path = Split/dependencies/STB
	url = https://github.com/nothings/stb
[submodule "Split/dependencies/imgui"]
	path = Split/dependencies/imgui
	url = https://github.com/ocornut/imgui
